
@{
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verify Code</title>
    <form asp-action="VerifyCode" method="post">
        <input name="code" type="text"/>
        <button type="submit">Xác Nhận</button>
    </form>
</head>
<body>
</body>
</html>
