
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ASP.NET_CORE_Final_2019.Models.Contact

<div class="hero-wrap hero-bread" style="background-image:url('/images/bg_1.jpg')">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/Home">Trang chủ</a></span> <span>Liên hệ</span></p>
                <h1 class="mb-0 bread">Liên hệ</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Địa chỉ:</span> 181 Lê Đức Thọ, Phường 17, Quận Gò Vấp, Thành phố Hồ Chí Minh, Việt Nam</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Số điện thoại: </span> <a href="tel://0974384921">+84 974 384 921</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Email: </span> ndsg1964@gmail.com</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Trang web: </span> <a href="/Home">KhoaRauCu.com.vn</a></p>
                </div>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form asp-action="Go" class="bg-white p-5 contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="Ten" placeholder="Tên của bạn">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" asp-for="Email" placeholder="Email của bạn">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="ChuDe" placeholder="Chủ đề">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" asp-for="NoiDung" class="form-control" placeholder="Nội dung"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>

            <div class="col-md-6 d-flex">
                <iframe class="bg-white" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.665475484321!2d106.67847695004436!3d10.836891992242627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528544b87370d%3A0x5511d373bad7ad68!2zVHLGsOG7nW5nIFRydW5nIGPhuqVwIFbEg24gdGjGsCBMxrB1IHRy4buvIFRydW5nIMawxqFuZw!5e0!3m2!1svi!2s!4v1576670704887!5m2!1svi!2s" width="600" height="558" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                @*<div id="map" class="bg-white"></div>*@
            </div>
        </div>
    </div>
</section>
